/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  /* background-color: white; a*/
  background-color: #E98446;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 28px;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 24px;
}

ul {
 list-style-position: inside;
}

.center {
  /*margin: auto;*/
  text-align: center;
}

.highColored {
  color: #F9C1A9;
}

.oneIndent {
  text-indent: 2em;
}

.twoIndent {
  text-indent: 4em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
